.circular-progress-bar-container {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px; 
}
  
  
.CircularProgressbar {
    background-color: beige;
}

.CircularProgressbar-text {
    font-weight: bold;
}